@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a, button {
    -webkit-tap-highlight-color: transparent;
  }

  a::selection, button::selection {
    background-color: transparent;
  }
}

body {
  background-color: rgb(30 41 59);
}